{% extends "base.html" %}

{% block title %}Catégorie "{{ category }}" - {{ SITENAME }}{% endblock %}

{% block head %}
{{ super() }}
    <meta property="og:title" content="{{ category }}">
    <meta property="og:description" content="Articles rangés dans la catégorie &laquo; {{ category }} &raquo;">
    <meta property="og:url" content="{{ SITEURL }}/{{ category.url }}">
{% endblock %}
    
{% block content %}
    {{ super() }}
    <h2>Catégorie &laquo; {{ category }} &raquo;</h1>
    {% for article in articles_page.object_list %}
        <h2><a title="Lien vers {{ article.title }}" class="post-link" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
        <p class="infos">Publié le {{ article.date|strftime('%d/%m/%Y') }} par {{ article.author }}</p>
        <p>{{ article.summary }}</p>
        <hr/>
    {% endfor %}
    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}
{% endblock %}